body {
  font-family: Arial;
  background: #f5f5f5;
}

.book-detail {
  width: 350px;
  background: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.book-detail img {
  width: 100%;
  border-radius: 10px;
}

.buttons button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.borrow {
  background-color: green;
}

.reserve {
  background-color: orange;
}

