body {
  font-family: Arial;
  text-align: center;
}

input, select {
  padding: 10px;
  margin: 10px;
}

#bookList {
  margin-top: 20px;
}
.book-card {
  background: #eee;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}
